# Django project files
*.pyc
*.pyo
__pycache__/
*.sqlite3

# Static files
staticfiles/
media/

# Secret keys
*.env

# Development files
*.log
db.sqlite3

# IDE files
.idea/

# Dependency directories
venv/
node_modules/

# my modfied codes
modfied_codes.md
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
